:root {
    --moderateCyan: hsl(176, 50%, 47%);
    --darkCyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --darkGray: hsla(0, 0%, 48%);
    --darkGrayBG: rgba(122, 122, 122, 0.171);
    --bluish: hsl(228, 45%, 44%);
    --greyish:hsl(228, 45%, 45%);
  }
  

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    background-color: hsla(0, 25%, 98%, 0.867);
    text-align: center;
    min-height: 100vh;
    
}

.header{
    background-image: url("./images/image-hero-desktop.jpg");
    background-position: center center;
    background-size: cover;
    height:400px;
}

.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .hero-section {
    background-image: url("./images/image-hero-mobile.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 400px;
  }
  
  .hero {
    padding:0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .menu {
    display: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 3em;
    background-color: rgb(156, 28, 28);
    border-radius: 0.5em;
    width: 100%;
  }
  
  .menu li {
    font-weight: 500;
    list-style: none;
    color: black;
    padding: 1.3em;
    border-bottom: 1px solid var(--darkGrayBG);
  }
  
  .closebtn {
    display: none;
  }
  
  .show {
    display: block;
  }

a{
    color:white;
    text-decoration: none;
    margin-right: 20px;
}

.phase-one{
    width:50%;
    height:220px;
    background-color: white;
    margin: 0 auto;
    position:relative;
    padding:10px;
    border-radius: 8px;
    bottom:93px;
}

.master{
    position: absolute;
    top:-30px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    
}

h2{
    margin-top:30px;
    margin-bottom:15px;
    font-family: 'Commissioner', sans-serif;
}

.in-flex{
    padding:0px 23px 0px 23px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.backProject{
    padding:6px 36px;
    border-radius:29px;
    border: 0;
    color:white;
    background-color: hsl(176, 50%, 47%);
    font-weight: bold;
}

.phase-two{
    width:50%;
    height:180px;
    background-color: white;
    margin: 20px auto;
    position:relative;
    padding:10px;
    border-radius: 8px;
    bottom:93px;
}

.phase-two-In-flex{
    padding:10px 30px;
    display:flex;
    
}

.stat h2{
    font-size:27px;
    font-weight:bold;
    margin-right:140px
    
   
}

.stat p{
    margin-left: -110px;
    margin-top: -10px;
}

  hr{
    margin-right:55px;
    padding-top:10px;
  }

  .progress-bar{
    margin-top:30px;
    width:100%;
    height:15px;
    border-radius: 10px;
    background-color: rgba(122, 122, 122, 0.171);
  }

  .bar-within{
    width:80%;
    height:15px;
    border-radius: 10px;
    background-color: hsl(176, 50%, 47%);
  }

  .third-phase{
    width:50%;
    /* height:180px; */
    background-color: white;
    margin: 20px auto;
    position:relative;
    padding:30px;
    border-radius: 8px;
    bottom:93px;
}

.left-assigned{
    text-align:left ;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}

.left-assign{
    text-align:left;
    margin-bottom:15px;
}

.singled-styled{
    margin-bottom:30px;
}

.make-flex{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stand-alone{
    border:2px solid rgba(122, 122, 122, 0.171);
    border-radius: 10px;
    padding:30px;
    margin-bottom: 25px;
}

.stand-alone button{
    padding:15px 22px;
    border-radius:20px;
    border:none;
    margin-top:18px;
    color:white;
    background-color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}

.alone-opacity{
    opacity:0.4;
}

.alone-opacity .button-opacity{
    background-color: rgba(29, 28, 28, 0.171);
}

.comment{
    margin-top: 25px;
}

.pledge{
    color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}

.flexy{
    display: flex;
    justify-content: space-between;
}

.first-flex{
    display: flex;

}

span h2{
    margin-right:15px;
    font-family: 'Commissioner', sans-serif;
    font-weight:700;
}

/* Modal selection */
.card {
  position: relative;
  width: 100%;
  border: 2px solid var(--darkGrayBG);
  border-radius: 0.5em;
  margin: 1.5em auto;
  padding: 1em;
}

.blue-h3 {
  color: var(--moderateCyan);
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  margin-left: 0.5em;
}

.modal,
#tyModal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -200px;
}

.white-box-container input[name="modal"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid rgba(128, 128, 128, 0.185);
}

.white-box-container input:checked ~ .checkmark {
  background-color: var(--moderateCyan);
}

.pledge,
#tyModal,
#modalSelection {
  display: none;
}

main {
  background-color: var(--darkGrayBG);
  position: absolute;
  transform: translateY(-55px);
}

button {
  color: white;
  font-weight: 700;
  background-color: var(--moderateCyan);
  border: none;
  border-radius: 2em;
  width: 150px;
  padding: 1em 0;
}

button:hover{
  background-color: var(--darkCyan);
}

.modal button {
  padding: 1em 2em;
}

.modal .heading {
  padding-top: 0.5em;
}

.modal h4:first-of-type:hover{
  color: var(--moderateCyan);
}

button#backPrjBtn {
  width: 200px;
  padding: 1.3em;
}

button[title="price"] {
  background-color: white;
  color: var(--darkGrayBG);
  border: 2px solid var(--darkGrayBG);
}

button[title="price"]:hover{
  border-color: var(--moderateCyan);
}

.pledge button{
  width:auto;
}

.white-box-container,
.modal {
  background-color: white;
  padding: 1.5em;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 2em;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alignerModal {
  display: flex;
  align-items: center;
}

.alignerModal h4 {
  margin: 0.5em;
  margin-left: 1em;
}

p {
  color: var(--darkGray);
  line-height: 1.7em;
}

#logo-mastercraft {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -30px;
}

/* ends here */

/* Mobile responsiveness */

@media (min-width:374px) and (max-width: 426px) {
    
    .header{
        background-image: url("./images/image-hero-mobile.jpg");
        background-position: center center;
        background-size: cover;
        height:300px;
    }

    .phase-one{
        width:80%;
        height:274px;
        margin-top:60px;
    }

    .phase-two{
        height:410px;
        width:80%;
        
    }

    .topnav{
        display: block;
        
    }

    .menu ul{
        display:block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 3em;
        background-color: rgb(156, 28, 28);
        border-radius: 0.5em;
        width: 100%;
    }

    .phase-two-In-flex{
        flex-direction:column;
    }

    hr{
        margin:10px auto;
        padding:0px 0px 0px 63px;
    }

    .stat h2{
        margin-top:25px;
        margin-left:auto;
        margin-bottom:10px;
        margin-right: auto;
    }

    .stat p{
        margin: auto;
    }

    .third-phase{
        width:80%;
    }
}

/* Ends here */

/* Tablets Responsivesness n*/

@media (min-width: 767px) and (max-width:769px) {

    .phase-one{
        width:80%;    
    }

    .card {
      padding: 1.5em;
    }

    .hero-section {
      background-image: url("./images/image-hero-desktop.jpg");
      background-position: center center;
      background-size: cover;
      height:400px;
    }

    .container {
      width:auto;
    }

    .hero {
        padding: 0px 20px 0px 20px;
        display: flex;
        position: relative;
        align-items: center;
      }

      /* nav{
        width:20%;
      } */

      .menu {
        display: block;
        display: flex;
        position: static;
        background-color: transparent;
      }
    
      .menu li {
        list-style: none;
        color: white;
        border-bottom: none;
        padding-right: 0.4em;
      }

      .closebtn,
      #menu-icon {
        display: none;
      }

      br {
        display: none;
      }

      .phase-two{
        padding:20px;
        height:410px;
        width:80%;
      }

      .phase-two-In-flex{
        flex-direction:column;
    }

    hr{
        margin:10px auto;
        padding:0px 0px 0px 63px;
    }

    .stat h2{
        margin-top:25px;
        margin-left:auto;
        margin-bottom:10px;
        margin-right: auto;
    }

    .stat p{
        margin: auto;
    }

    .third-phase{
        width:80%;
    }
}
/* Ends here */

/* Laptops and large screen */

@media (min-width:1023px) and (max-width:2561px){
    .topnav img{
        display: none;
    }

    .menu {
        display: block;
        display: flex;
        position: static;
        background-color: transparent;
      }
    
      .menu li {
        list-style: none;
        color: white;
        border-bottom: none;
        padding-right: 0.4em;
      }

      .closebtn,
      #menu-icon {
        display: none;
      }

      br {
        display: none;
      }
}
/* Ends here */