:root {
    --moderateCyan: hsl(176, 50%, 47%);
    --darkCyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --darkGray: hsla(0, 0%, 48%);
    --darkGrayBG: rgba(122, 122, 122, 0.171);
    --bluish: hsl(228, 45%, 44%);
  }
  

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    background-color: hsla(0, 25%, 98%, 0.867);
    text-align: center;
    min-height: 100vh;
    
}

.header{
    background-image: url("./images/image-hero-desktop.jpg");
    background-position: center center;
    background-size: cover;
    height:400px;
}

.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .hero-section {
    background-image: url("./images/image-hero-mobile.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 400px;
  }
  
  .hero {
    padding:0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .menu {
    display: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 3em;
    background-color: rgb(156, 28, 28);
    border-radius: 0.5em;
    width: 100%;
  }
  
  .menu li {
    font-weight: 500;
    list-style: none;
    color: black;
    padding: 1.3em;
    border-bottom: 1px solid var(--darkGrayBG);
  }
  
  .closebtn {
    display: none;
  }
  
  .show {
    display: block;
  }

.title{
    padding-top:40px;
    display:flex;
    margin: 0 auto;
    width:87%;
    justify-content: space-between;
}

.title img{
    background-size: cover;
}

ul{
    display:flex;
       
}

li{
    list-style-type: none;
}

a{
    color:white;
    text-decoration: none;
    margin-right: 20px;
}

.phase-one{
    width:50%;
    height:220px;
    background-color: white;
    margin: 0 auto;
    position:relative;
    padding:10px;
    border-radius: 8px;
    bottom:93px;
}

.master{
    position: absolute;
    top:-30px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    
}

h2{
    margin-top:30px;
    margin-bottom:15px;
    font-family: 'Commissioner', sans-serif;
}

.in-flex{
    padding:0px 23px 0px 23px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

#backProject{
    padding:6px 36px;
    border-radius:29px;
    border: 0;
    color:white;
    background-color: hsl(176, 50%, 47%);
    font-weight: bold;
}

.phase-two{
    width:50%;
    height:180px;
    background-color: white;
    margin: 20px auto;
    position:relative;
    padding:10px;
    border-radius: 8px;
    bottom:93px;
}

.phase-two-In-flex{
    padding:10px 30px;
    display:flex;
    
}

/* .stat{
    border-right:1px solid red;
    margin:auto;
} */

.stat h2{
    font-size:27px;
    font-weight:bold;
    margin-right:140px
    
   
}

.stat p{
    margin-left: -110px;
    margin-top: -10px;
}

/* .stats p::after {
    display: block;
    content: "";
    width: 40%;
    height: 2px;
    background: hsl(0, 0%, 48%);
    position: relative;
    bottom: -20px;
    margin: auto;
  } */

  hr{
    margin-right:55px;
    padding-top:10px;
  }

  .progress-bar{
    margin-top:30px;
    width:100%;
    height:15px;
    border-radius: 10px;
    background-color: rgba(122, 122, 122, 0.171);
  }

  .bar-within{
    width:80%;
    height:15px;
    border-radius: 10px;
    background-color: hsl(176, 50%, 47%);
  }

  .third-phase{
    width:50%;
    /* height:180px; */
    background-color: white;
    margin: 20px auto;
    position:relative;
    padding:30px;
    border-radius: 8px;
    bottom:93px;
}

.left-assigned{
    text-align:left ;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}

.left-assign{
    text-align:left;
    margin-bottom:15px;
}

.singled-styled{
    margin-bottom:30px;
}

.make-flex{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stand-alone{
    border:2px solid rgba(122, 122, 122, 0.171);
    border-radius: 10px;
    padding:30px;
    margin-bottom: 25px;
}

.stand-alone button{
    padding:15px 22px;
    border-radius:20px;
    border:none;
    margin-top:18px;
    color:white;
    background-color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}

.alone-opacity{
    opacity:0.4;
}

.alone-opacity .button-opacity{
    background-color: rgba(29, 28, 28, 0.171);
}

.comment{
    margin-top: 25px;
}

.pledge{
    color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}

.flexy{
    display: flex;
    justify-content: space-between;
}

.first-flex{
    display: flex;

}

span h2{
    margin-right:15px;
    font-family: 'Commissioner', sans-serif;
    font-weight:700;
}

/* Mobile responsiveness */

@media (min-width:374px) and (max-width: 426px) {
    
    .header{
        background-image: url("./images/image-hero-mobile.jpg");
        background-position: center center;
        background-size: cover;
        height:300px;
    }

    .phase-one{
        width:80%;
        height:274px;
        margin-top:60px;
    }

    .phase-two{
        width:80%;
        
    }

    .topnav{
        display: block;
        
    }

    .menu ul{
        display:block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 3em;
        background-color: rgb(156, 28, 28);
        border-radius: 0.5em;
        width: 100%;
    }

}

@media (min-width:1025px) and (max-width:2561px){
    .topnav img{
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .card {
      padding: 1.5em;
    }

    .hero-section {
      background-image: url("./images/image-hero-desktop.jpg");
    }

    .container {
      width: 100%;
    }

    .hero {
        align-items: center;
      }

      .menu {
        display: block;
        display: flex;
        position: static;
        background-color: transparent;
      }
    
      .menu li {
        list-style: none;
        color: white;
        border-bottom: none;
        padding-right: 0.4em;
      }

      .closebtn,
      #menu-icon {
        display: none;
      }

      br {
        display: none;
      }
}
